body{
    background-color: #52c240;
    font-family: monospace;
    font-size: 1.3em;
}
h1{
    margin: 20px 0 20px 200px;
    text-align: right;
    font-size: 3em;
    background-color: white;
    padding:20px 100px;
    border-radius: 10px 0 0 1000px;
}
#container{
    width:90%;
    min-height: 200px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
form{
    display: inline-block;
    border-radius: 5px;
    border:3px double #52c240;
    margin: 20px;
    width: 20%;
    float:left;
}
label{
    display: block;
}
#canvas{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin:20px;
}
#draggingCanvas{
    border-radius: 10px;
    position:absolute;
    margin:20px;
    /*display:none;*/
    /*box-shadow: 0 0 10px rgba(255,0,0,0.8);*/
}